.project
build/**
myClasses/**
bin/**
.idea/**
.gradle/**
.settings/**
/bin
.classpath
/sql
node_modules/**
public/**

client/.externalToolBuilders
client/.project
client/.settings
client/bin
client/build
client/node_modules
client/public/libs
